<div id="<%= dom_id lesson %>">
  <div>
    <strong>Title:</strong>
    <%= lesson.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= lesson.description %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= lesson.date %>
  </div>

</div>
